* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #262626;
  background-repeat: repeat-y;
  background-position: center;
}
.hand{
  position: relative;
  top: -70%;
  left:-53% ;
  width: 380px;
  height:380px; 
}

.rasengan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  perspective: 1000px;
  background: radial-gradient(#fff 5%, #2994f2 40%);
  border-radius: 50%;
  animation: twinkling 1.5s infinite linear;
}

.rasengan .line {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-shadow: 0 0 2px #fff;
}

.line1 {
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  animation: rotating 0.03s infinite linear;
}

.line2 {
  top: 39px;
  left: 39px;
  bottom: 39px;
  right: 39px;
  animation: rotating 0.06s infinite linear;
}

.line3 {
  top: 69px;
  left: 69px;
  bottom: 69px;
  right: 69px;
  animation: rotating 0.09s infinite linear;
}

.line4 {
  top: 87px;
  left: 87px;
  bottom: 87px;
  right: 87px;
  animation: rotating 0.12s infinite linear;
}

.line5 {
  top: 74px;
  left: 74px;
  bottom: 74px;
  right: 74px;
  animation: rotating 0.15s infinite linear;
}

.line6 {
  top: 28px;
  left: 28px;
  bottom: 28px;
  right: 28px;
  animation: rotating 0.18s infinite linear;
}

.line7 {
  top: 24px;
  left: 24px;
  bottom: 24px;
  right: 24px;
  animation: rotating 0.21s infinite linear;
}

.line8 {
  top: 69px;
  left: 69px;
  bottom: 69px;
  right: 69px;
  animation: rotating 0.24s infinite linear;
}

.line9 {
  top: 32px;
  left: 32px;
  bottom: 32px;
  right: 32px;
  animation: rotating 0.27s infinite linear;
}

.line10 {
  top: 53px;
  left: 53px;
  bottom: 53px;
  right: 53px;
  animation: rotating 0.3s infinite linear;
}

.line11 {
  top: 78px;
  left: 78px;
  bottom: 78px;
  right: 78px;
  animation: rotating 0.33s infinite linear;
}

.line12 {
  top: 28px;
  left: 28px;
  bottom: 28px;
  right: 28px;
  animation: rotating 0.36s infinite linear;
}

.line13 {
  top: 78px;
  left: 78px;
  bottom: 78px;
  right: 78px;
  animation: rotating 0.39s infinite linear;
}

.line14 {
  top: 59px;
  left: 59px;
  bottom: 59px;
  right: 59px;
  animation: rotating 0.42s infinite linear;
}

.line15 {
  top: 63px;
  left: 63px;
  bottom: 63px;
  right: 63px;
  animation: rotating 0.45s infinite linear;
}

.line16 {
  top: 45px;
  left: 45px;
  bottom: 45px;
  right: 45px;
  animation: rotating 0.48s infinite linear;
}

.line17 {
  top: 76px;
  left: 76px;
  bottom: 76px;
  right: 76px;
  animation: rotating 0.51s infinite linear;
}

.line18 {
  top: 13px;
  left: 13px;
  bottom: 13px;
  right: 13px;
  animation: rotating 0.54s infinite linear;
}

.line19 {
  top: 50px;
  left: 50px;
  bottom: 50px;
  right: 50px;
  animation: rotating 0.57s infinite linear;
}

.line20 {
  top: 87px;
  left: 87px;
  bottom: 87px;
  right: 87px;
  animation: rotating 0.6s infinite linear;
}

.line21 {
  top: 62px;
  left: 62px;
  bottom: 62px;
  right: 62px;
  animation: rotating 0.63s infinite linear;
}

.line22 {
  top: 61px;
  left: 61px;
  bottom: 61px;
  right: 61px;
  animation: rotating 0.66s infinite linear;
}

.line23 {
  top: 62px;
  left: 62px;
  bottom: 62px;
  right: 62px;
  animation: rotating 0.69s infinite linear;
}

.line24 {
  top: 16px;
  left: 16px;
  bottom: 16px;
  right: 16px;
  animation: rotating 0.72s infinite linear;
}

.line25 {
  top: 18px;
  left: 18px;
  bottom: 18px;
  right: 18px;
  animation: rotating 0.75s infinite linear;
}

.line26 {
  top: 60px;
  left: 60px;
  bottom: 60px;
  right: 60px;
  animation: rotating 0.78s infinite linear;
}

.line27 {
  top: 78px;
  left: 78px;
  bottom: 78px;
  right: 78px;
  animation: rotating 0.81s infinite linear;
}

.line28 {
  top: 40px;
  left: 40px;
  bottom: 40px;
  right: 40px;
  animation: rotating 0.84s infinite linear;
}

.line29 {
  top: 74px;
  left: 74px;
  bottom: 74px;
  right: 74px;
  animation: rotating 0.87s infinite linear;
}

.line30 {
  top: 38px;
  left: 38px;
  bottom: 38px;
  right: 38px;
  animation: rotating 0.9s infinite linear;
}

.line31 {
  top: 43px;
  left: 43px;
  bottom: 43px;
  right: 43px;
  animation: rotating 0.93s infinite linear;
}

.line32 {
  top: 73px;
  left: 73px;
  bottom: 73px;
  right: 73px;
  animation: rotating 0.96s infinite linear;
}

.line33 {
  top: 15px;
  left: 15px;
  bottom: 15px;
  right: 15px;
  animation: rotating 0.99s infinite linear;
}

.line34 {
  top: 21px;
  left: 21px;
  bottom: 21px;
  right: 21px;
  animation: rotating 1.02s infinite linear;
}

.line35 {
  top: 24px;
  left: 24px;
  bottom: 24px;
  right: 24px;
  animation: rotating 1.05s infinite linear;
}

.line36 {
  top: 77px;
  left: 77px;
  bottom: 77px;
  right: 77px;
  animation: rotating 1.08s infinite linear;
}

.line37 {
  top: 65px;
  left: 65px;
  bottom: 65px;
  right: 65px;
  animation: rotating 1.11s infinite linear;
}

.line38 {
  top: 19px;
  left: 19px;
  bottom: 19px;
  right: 19px;
  animation: rotating 1.14s infinite linear;
}

.line39 {
  top: 37px;
  left: 37px;
  bottom: 37px;
  right: 37px;
  animation: rotating 1.17s infinite linear;
}

.line40 {
  top: 85px;
  left: 85px;
  bottom: 85px;
  right: 85px;
  animation: rotating 1.2s infinite linear;
}

.line41 {
  top: 18px;
  left: 18px;
  bottom: 18px;
  right: 18px;
  animation: rotating 1.23s infinite linear;
}

.line42 {
  top: 18px;
  left: 18px;
  bottom: 18px;
  right: 18px;
  animation: rotating 1.26s infinite linear;
}

.line43 {
  top: 86px;
  left: 86px;
  bottom: 86px;
  right: 86px;
  animation: rotating 1.29s infinite linear;
}

.line44 {
  top: 35px;
  left: 35px;
  bottom: 35px;
  right: 35px;
  animation: rotating 1.32s infinite linear;
}

.line45 {
  top: 13px;
  left: 13px;
  bottom: 13px;
  right: 13px;
  animation: rotating 1.35s infinite linear;
}

.line46 {
  top: 13px;
  left: 13px;
  bottom: 13px;
  right: 13px;
  animation: rotating 1.38s infinite linear;
}

.line47 {
  top: 17px;
  left: 17px;
  bottom: 17px;
  right: 17px;
  animation: rotating 1.41s infinite linear;
}

.line48 {
  top: 37px;
  left: 37px;
  bottom: 37px;
  right: 37px;
  animation: rotating 1.44s infinite linear;
}

.line49 {
  top: 62px;
  left: 62px;
  bottom: 62px;
  right: 62px;
  animation: rotating 1.47s infinite linear;
}

.line50 {
  top: 7px;
  left: 7px;
  bottom: 7px;
  right: 7px;
  animation: rotating 1.5s infinite linear;
}

.line51 {
  top: 76px;
  left: 76px;
  bottom: 76px;
  right: 76px;
  animation: rotating 1.53s infinite linear;
}

.line52 {
  top: 41px;
  left: 41px;
  bottom: 41px;
  right: 41px;
  animation: rotating 1.56s infinite linear;
}

.line53 {
  top: 71px;
  left: 71px;
  bottom: 71px;
  right: 71px;
  animation: rotating 1.59s infinite linear;
}

.line54 {
  top: 37px;
  left: 37px;
  bottom: 37px;
  right: 37px;
  animation: rotating 1.62s infinite linear;
}

.line55 {
  top: 56px;
  left: 56px;
  bottom: 56px;
  right: 56px;
  animation: rotating 1.65s infinite linear;
}

.line56 {
  top: 51px;
  left: 51px;
  bottom: 51px;
  right: 51px;
  animation: rotating 1.68s infinite linear;
}

.line57 {
  top: 80px;
  left: 80px;
  bottom: 80px;
  right: 80px;
  animation: rotating 1.71s infinite linear;
}

.line58 {
  top: 26px;
  left: 26px;
  bottom: 26px;
  right: 26px;
  animation: rotating 1.74s infinite linear;
}

.line59 {
  top: 74px;
  left: 74px;
  bottom: 74px;
  right: 74px;
  animation: rotating 1.77s infinite linear;
}

.line60 {
  top: 70px;
  left: 70px;
  bottom: 70px;
  right: 70px;
  animation: rotating 1.8s infinite linear;
}

.line61 {
  top: 49px;
  left: 49px;
  bottom: 49px;
  right: 49px;
  animation: rotating 1.83s infinite linear;
}

.line62 {
  top: 66px;
  left: 66px;
  bottom: 66px;
  right: 66px;
  animation: rotating 1.86s infinite linear;
}

.line63 {
  top: 16px;
  left: 16px;
  bottom: 16px;
  right: 16px;
  animation: rotating 1.89s infinite linear;
}

.line64 {
  top: 26px;
  left: 26px;
  bottom: 26px;
  right: 26px;
  animation: rotating 1.92s infinite linear;
}

.line65 {
  top: 61px;
  left: 61px;
  bottom: 61px;
  right: 61px;
  animation: rotating 1.95s infinite linear;
}

.line66 {
  top: 67px;
  left: 67px;
  bottom: 67px;
  right: 67px;
  animation: rotating 1.98s infinite linear;
}

.line67 {
  top: 62px;
  left: 62px;
  bottom: 62px;
  right: 62px;
  animation: rotating 2.01s infinite linear;
}

.line68 {
  top: 34px;
  left: 34px;
  bottom: 34px;
  right: 34px;
  animation: rotating 2.04s infinite linear;
}

.line69 {
  top: 74px;
  left: 74px;
  bottom: 74px;
  right: 74px;
  animation: rotating 2.07s infinite linear;
}

.line70 {
  top: 60px;
  left: 60px;
  bottom: 60px;
  right: 60px;
  animation: rotating 2.1s infinite linear;
}

.line71 {
  top: 87px;
  left: 87px;
  bottom: 87px;
  right: 87px;
  animation: rotating 2.13s infinite linear;
}

.line72 {
  top: 84px;
  left: 84px;
  bottom: 84px;
  right: 84px;
  animation: rotating 2.16s infinite linear;
}

.line73 {
  top: 71px;
  left: 71px;
  bottom: 71px;
  right: 71px;
  animation: rotating 2.19s infinite linear;
}

.line74 {
  top: 14px;
  left: 14px;
  bottom: 14px;
  right: 14px;
  animation: rotating 2.22s infinite linear;
}

.line75 {
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  animation: rotating 2.25s infinite linear;
}

.line76 {
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  animation: rotating 2.28s infinite linear;
}

.line77 {
  top: 70px;
  left: 70px;
  bottom: 70px;
  right: 70px;
  animation: rotating 2.31s infinite linear;
}

.line78 {
  top: 44px;
  left: 44px;
  bottom: 44px;
  right: 44px;
  animation: rotating 2.34s infinite linear;
}

.line79 {
  top: 49px;
  left: 49px;
  bottom: 49px;
  right: 49px;
  animation: rotating 2.37s infinite linear;
}

.line80 {
  top: 14px;
  left: 14px;
  bottom: 14px;
  right: 14px;
  animation: rotating 2.4s infinite linear;
}

.line81 {
  top: 24px;
  left: 24px;
  bottom: 24px;
  right: 24px;
  animation: rotating 2.43s infinite linear;
}

.line82 {
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  animation: rotating 2.46s infinite linear;
}

.line83 {
  top: 9px;
  left: 9px;
  bottom: 9px;
  right: 9px;
  animation: rotating 2.49s infinite linear;
}

.line84 {
  top: 22px;
  left: 22px;
  bottom: 22px;
  right: 22px;
  animation: rotating 2.52s infinite linear;
}

.line85 {
  top: 56px;
  left: 56px;
  bottom: 56px;
  right: 56px;
  animation: rotating 2.55s infinite linear;
}

.line86 {
  top: 14px;
  left: 14px;
  bottom: 14px;
  right: 14px;
  animation: rotating 2.58s infinite linear;
}

.line87 {
  top: 22px;
  left: 22px;
  bottom: 22px;
  right: 22px;
  animation: rotating 2.61s infinite linear;
}

.line88 {
  top: 61px;
  left: 61px;
  bottom: 61px;
  right: 61px;
  animation: rotating 2.64s infinite linear;
}

.line89 {
  top: 81px;
  left: 81px;
  bottom: 81px;
  right: 81px;
  animation: rotating 2.67s infinite linear;
}

.line90 {
  top: 44px;
  left: 44px;
  bottom: 44px;
  right: 44px;
  animation: rotating 2.7s infinite linear;
}

.line91 {
  top: 77px;
  left: 77px;
  bottom: 77px;
  right: 77px;
  animation: rotating 2.73s infinite linear;
}

.line92 {
  top: 57px;
  left: 57px;
  bottom: 57px;
  right: 57px;
  animation: rotating 2.76s infinite linear;
}

.line93 {
  top: 24px;
  left: 24px;
  bottom: 24px;
  right: 24px;
  animation: rotating 2.79s infinite linear;
}

.line94 {
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  animation: rotating 2.82s infinite linear;
}

.line95 {
  top: 47px;
  left: 47px;
  bottom: 47px;
  right: 47px;
  animation: rotating 2.85s infinite linear;
}

.line96 {
  top: 45px;
  left: 45px;
  bottom: 45px;
  right: 45px;
  animation: rotating 2.88s infinite linear;
}

.line97 {
  top: 51px;
  left: 51px;
  bottom: 51px;
  right: 51px;
  animation: rotating 2.91s infinite linear;
}

.line98 {
  top: 70px;
  left: 70px;
  bottom: 70px;
  right: 70px;
  animation: rotating 2.94s infinite linear;
}

.line99 {
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  animation: rotating 2.97s infinite linear;
}

.line100 {
  top: 24px;
  left: 24px;
  bottom: 24px;
  right: 24px;
  animation: rotating 3s infinite linear;
}

@keyframes rotating {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateZ(360deg) rotateX(360deg) rotateY(360deg);
  }
}
@keyframes twinkling {
  0%, 100% {
    box-shadow: 0 0 3px 0px #fff, 0 0 30px 15px #2994f2;
  }
  20% {
    box-shadow: 0 0 3px 1px #fff, 0 0 30px 10px #2994f2;
  }
  40% {
    box-shadow: 0 0 5px 0px #fff, 0 0 20px 15px #2994f2;
  }
  60% {
    box-shadow: 0 0 3px 1px #fff, 0 0 30px 15px #2994f2;
  }
  80% {
    box-shadow: 0 0 5px 0px #fff, 0 0 25px 10px #2994f2;
  }
}
